# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [45]:
# Your code here
#Step 1
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
data = pd.read_csv(url)

In [46]:
#Step 2
rows, columns = data.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 4008
Number of columns: 11

In [47]:
#Step 3
print("\nData Types:")
print(data.dtypes)
if data['Customer Lifetime Value'].dtype == 'object':
    data['Customer Lifetime Value'] = pd.to_numeric(data['Customer Lifetime Value'], errors='coerce')
    print("\nConverted 'Customer Lifetime Value' to numeric.")

Data Types:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

Converted 'Customer Lifetime Value' to numeric.

In [48]:
#Step 4
print("\nUnique Values and Categorical Columns:")
for column in data.columns:
    unique_values = data[column].nunique()
    print(f"{column}: {unique_values} unique values")
    if unique_values < 20:  # Assuming columns with fewer unique values are categorical
        print(f"  Unique values: {data[column].unique()}")

Unique Values and Categorical Columns:
Customer: 1071 unique values
ST: 8 unique values
  Unique values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
GENDER: 5 unique values
  Unique values: [nan 'F' 'M' 'Femal' 'Male' 'female']
Education: 6 unique values
  Unique values: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Customer Lifetime Value: 0 unique values
  Unique values: [nan]
Income: 774 unique values
Monthly Premium Auto: 132 unique values
Number of Open Complaints: 6 unique values
  Unique values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Policy Type: 3 unique values
  Unique values: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Vehicle Class: 6 unique values
  Unique values: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]
Total Claim Amount: 761 unique values

In [49]:
#Step 5
print("\nRange of Values for Numerical Columns:")
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns
for column in numerical_columns:
    print(f"{column}: Min = {data[column].min()}, Max = {data[column].max()}")

Range of Values for Numerical Columns:
Customer Lifetime Value: Min = nan, Max = nan
Income: Min = 0.0, Max = 99960.0
Monthly Premium Auto: Min = 61.0, Max = 35354.0
Total Claim Amount: Min = 0.382107, Max = 2893.239678

In [50]:
# Select numerical columns
numerical_columns = data.select_dtypes(include=['float64', 'int64'])

# Compute summary statistics
summary_stats = numerical_columns.describe()  # Includes count, mean, std, min, 25%, 50%, 75%, max
print("Summary Statistics (Mean, Std, Min, Quartiles, Max):")
print(summary_stats)

# Compute median for each numerical column
medians = numerical_columns.median()
print("\nMedian for each numerical column:")
print(medians)

# Compute mode for each numerical column
modes = numerical_columns.mode().iloc[0]  # Mode can have multiple values; take the first row
print("\nMode for each numerical column:")
print(modes)

# Conclusions based on the summary statistics
print("\nConclusions:")
for column in numerical_columns.columns:
    print(f"Column: {column}")
    print(f"  - Mean: {summary_stats.loc['mean', column]}")
    print(f"  - Median: {medians[column]}")
    print(f"  - Mode: {modes[column]}")
    print(f"  - Standard Deviation: {summary_stats.loc['std', column]}")
    print(f"  - 25th Percentile: {summary_stats.loc['25%', column]}")
    print(f"  - 75th Percentile: {summary_stats.loc['75%', column]}")
    print(f"  - Range: {summary_stats.loc['max', column] - summary_stats.loc['min', column]}")
    print()

Summary Statistics (Mean, Std, Min, Quartiles, Max):
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count                      0.0   1071.000000           1071.000000
mean                       NaN  39295.701214            193.234360
std                        NaN  30469.427060           1601.190369
min                        NaN      0.000000             61.000000
25%                        NaN  14072.000000             68.000000
50%                        NaN  36234.000000             83.000000
75%                        NaN  64631.000000            109.500000
max                        NaN  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678

Median for each numerical column:
Customer Lifetime Value             NaN
Income                     36234.000000
Monthly Premium Auto          83.000000
Total Claim Amount           354.729129
dtype: float64

Mode for each numerical column:
Customer Lifetime Value      NaN
Income                       0.0
Monthly Premium Auto        65.0
Total Claim Amount         321.6
Name: 0, dtype: float64

Conclusions:
Column: Customer Lifetime Value
  - Mean: nan
  - Median: nan
  - Mode: nan
  - Standard Deviation: nan
  - 25th Percentile: nan
  - 75th Percentile: nan
  - Range: nan

Column: Income
  - Mean: 39295.70121381886
  - Median: 36234.0
  - Mode: 0.0
  - Standard Deviation: 30469.42706040185
  - 25th Percentile: 14072.0
  - 75th Percentile: 64631.0
  - Range: 99960.0

Column: Monthly Premium Auto
  - Mean: 193.234360410831
  - Median: 83.0
  - Mode: 65.0
  - Standard Deviation: 1601.190368577621
  - 25th Percentile: 68.0
  - 75th Percentile: 109.5
  - Range: 35293.0

Column: Total Claim Amount
  - Mean: 404.98690940896364
  - Median: 354.729129
  - Mode: 321.6
  - Standard Deviation: 293.0272599264041
  - 25th Percentile: 202.157702
  - 75th Percentile: 532.8
  - Range: 2892.857571

In [51]:
#Step 6. Summary statistics for categorical columns
print("\nSummary Statistics for Categorical Columns:")
categorical_columns = data.select_dtypes(include=['object']).columns
for column in categorical_columns:
    print(f"\n{column}:")
    print(data[column].value_counts())

Summary Statistics for Categorical Columns:

Customer:
Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64

ST:
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

GENDER:
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

Education:
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

Number of Open Complaints:
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

Policy Type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Vehicle Class:
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [55]:
# Your code her
# Create a Series object with customer locations and their frequencies
location_counts = data['ST'].value_counts()

# Retrieve the top 5 less common locations in ascending order
top_5_less_common_locations = location_counts.nsmallest(5)
print("Top 5 less common customer locations:")
print(top_5_less_common_locations)

Top 5 less common customer locations:
ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [58]:
# Your code here
# Create a Series object with policy types and their total number of policies sold
policy_counts = data['Policy Type'].value_counts()

# Retrieve the policy type with the highest number of policies sold
most_sold_policy = policy_counts.idxmax()
print("\nTotal number of policies sold for each type:")
print(policy_counts)
print(f"\nPolicy type with the highest number of policies sold: {most_sold_policy}")

Total number of policies sold for each type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Policy type with the highest number of policies sold: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [61]:
# Your code here
# Create dataframes for Personal Auto and Corporate Auto policies
personal_auto = data.loc[data['Policy Type'] == 'Personal Auto']
corporate_auto = data.loc[data['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy type
avg_income_personal_auto = personal_auto['Income'].mean()
avg_income_corporate_auto = corporate_auto['Income'].mean()

print("\nAverage income comparison:")
print(f"Average income for Personal Auto: {avg_income_personal_auto}")
print(f"Average income for Corporate Auto: {avg_income_corporate_auto}")

Average income comparison:
Average income for Personal Auto: 38180.69871794872
Average income for Corporate Auto: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [66]:
# Your code here

# 1. Review statistics for Total Claim Amount
total_claim_stats = data['Total Claim Amount'].describe()
print("Statistics for Total Claim Amount:")
print(total_claim_stats)

# 2. Identify customers with a high policy claim amount (top 25%)
# Calculate the 75th percentile of Total Claim Amount
claim_75th_percentile = data['Total Claim Amount'].quantile(0.75)

# Filter customers with Total Claim Amount greater than the 75th percentile
high_claim_customers = data[data['Total Claim Amount'] > claim_75th_percentile]

# 3. Calculate summary statistics for high policy claim amount data
high_claim_stats = high_claim_customers.describe()

print("\nSummary statistics for customers with high policy claim amounts:")
print(high_claim_stats)

Statistics for Total Claim Amount:
count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

Summary statistics for customers with high policy claim amounts:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count                      0.0    264.000000            264.000000
mean                       NaN  23677.344697            165.193182
std                        NaN  27013.483721            623.930992
min                        NaN      0.000000             63.000000
25%                        NaN      0.000000             99.000000
50%                        NaN  18807.000000            114.000000
75%                        NaN  42423.750000            133.250000
max                        NaN  99316.000000          10202.000000

       Total Claim Amount
count          264.000000
mean           782.228263
std            292.751640
min            537.600000
25%            606.521741
50%            679.597985
75%            851.400000
max           2893.239678